{{define "title"}} About {{end}}

{{define "main"}}
    <h2>About</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur magna lorem, placerat cursus sem mollis ut. 
        Praesent ullamcorper, neque tincidunt tristique vestibulum, sapien urna placerat nisl, sed hendrerit lectus lacus eget diam. Aenean dictum velit a viverra ultrices. 
        Praesent odio ligula, euismod in ullamcorper sit amet, varius sit amet justo. Phasellus at risus vulputate sapien molestie facilisis. 
        Sed interdum nisi ut consectetur convallis. Mauris aliquet, nisi malesuada dapibus rhoncus, ex odio pharetra mi, eget tempus erat ante id nisl. Sed pellentesque cursus felis, a convallis nisi blandit ac. 
        Curabitur cursus nisl sit amet dolor semper molestie. Sed hendrerit dignissim ipsum, at blandit sapien viverra vitae. 
        Mauris blandit ultricies nunc quis laoreet. Aliquam sodales eget diam cursus dapibus. Etiam sollicitudin ipsum at commodo sagittis. Nullam vel gravida massa. Etiam at porttitor libero. Sed mattis est nec faucibus ultrices. 
    </p>
{{end}}