{{define "title"}}Change Password{{end}}

{{define "main"}}
<form action="/account/password/update" method="POST" novalidate>
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    {{range .Form.NonFieldErrors}}
        <label class="error">{{.}}</label>
    {{end}}
    <div>
        <label>Current password:</label>
        {{with .Form.FieldErrors.currentPass}}
            <label class="error">{{.}}</label>
        {{end}}
        <input type="password" name="current_pass">
    </div>
    <div>
        <label>New password:</label>
        {{with .Form.FieldErrors.newPass}}
            <label class="error">{{.}}</label>
        {{end}}
        <input type="password" name="new_pass">
    </div>
    <div>
        {{with .Form.FieldErrors.confirmNewPass}}
            <label class="error">{{.}}</label>
        {{end}}
        <label>Confirm new password:</label>
        <input type="password" name="confirm_new_pass">
    </div>
    <div>
        <input type="submit" value="Change password">
    </div>
</form>
{{end}}